
.form-container {
    margin-left: 25%;
    margin-right: 25%;
}

.actual-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    background-color: rgb(26, 26, 27);
    border-radius: 5px;
    padding: 3%;
    margin:4%;
    margin-bottom: 0;
    border:3px solid rgb(52, 53, 54)
}

.input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    /* color: rgb(129, 131, 132); */
    border-radius: 2px;
    border: 1px solid rgb(52, 53, 54);
    background-color: rgb(39, 39, 41);
    margin: 3px;
}

.input:hover {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    border-radius: 2px;
    transition: 0.4s;
    border: 1px solid rgb(129, 131, 132);
    background-color: rgb(39, 39, 41);
    margin: 3px;
}

.button {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    border-radius: 20px;
    border: 1px solid rgb(52, 53, 54);
    background-color: rgb(129, 131, 132);
    width: 100px;
    height: 35px;
    margin-left: 15px;
}

.button:hover {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    border-radius: 20px;
    transition: 0.4s;
    border: 1px solid rgb(129, 131, 132);
    background-color: rgb(39, 39, 41);
    width: 100px;
    height: 35px;
    margin-left: 15px;
}
